# https://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
max_line_length = 120
insert_final_newline = true
trim_trailing_whitespace = true

[{*.yml,mvnw}]
indent_size = 2

[*.{bat,cmd}]
end_of_line = crlf

[*.{java,xml}]
indent_style = tab
continuation_indent_size = 8

[*.properties]
keep_blank_lines = true

[*.{html,css}]
max_line_length = 100

[*.{md,txt}]
max_line_length = off
trim_trailing_whitespace = false
