<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- support multiple-JVM writing to the same log file -->
		<!--<prudent>true</prudent>-->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${java.io.tmpdir}/pes-editor_%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- keep 7 days' worth of history -->
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="FILE"/>
	</root>

	<logger name="editor" level="ALL"/>
</configuration>
